overwatch-hero-selector-vanilla/node_modules
overwatch-hero-selector-vanilla/images
overwatch-hero-selector-vanilla/_heroes
overwatch-hero-selector-vanilla/.cache
overwatch-hero-selector-vanilla/dist
SCSS-TEST/node_modules
SCSS-TEST/dist
SCSS-TEST/.cache